doctype html(lang='en-us')
head
    meta(charset='UTF-8')

    title Online-LPD - Linux-statt-Windows

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', type='text/css', href='assets/css/normalize.css', media='screen')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='assets/css/stylesheet.css', media='screen')
    link(rel='stylesheet', type='text/css', href='assets/css/github-light.css', media='screen')

    link(rel='stylesheet', type='text/css', href='assets/css/additional.css', media='screen')
  body
    section.page-header
      h1.project-name Online - Linux Presentation Day
      h2.project-sub von 
        a(class='project-link' href='https://linux-statt-windows.org') Linux-statt-Windows
      h2.project-tagline
      a.btn(href='https://github.com/Linux-statt-Windows/Online-LPD') Der Aktuelle Stand auf GitHub
    section.main-content
      center
        h2
          a#der-online---linux-presentation-day.anchor(href='#der-online---linux-presentation-day', aria-hidden='true')
            span.octicon.octicon-link
          | Der Online - Linux Presentation Day
        p
          | Der Online - Linux Presentation Day (LPD) befindet sich momentan noch in der Planungphase. Falls du Interesse hast zu helfen, melde dich bei 
          b 
            a(href='mailto:niklas.heer@gmail.com') mir
          | .
      footer.site-footer
        span.site-footer-owner
          a(href='https://github.com/Linux-statt-Windows/Online-LPD') Online-LPD
          |  ein Projekt von 
          a(href='https://github.com/Linux-statt-Windows') Linux-statt-Windows
          | .
