.project-link {
  text-decoration: none;
  color: #fff;
  background-size: 200%;
  padding-left: 0.1em;
  padding-right: 0.1em;
  margin-left: -0.1em;
}
.project-link:hover {
  text-decoration: none;
  color: #333;
  background-color: #fff;
}
